@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 500;
  font-style: normal;
}
@keyframes fall {
  0% {
    transform: translateY(-10vh);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}

.emoji {
  position: fixed;
  font-size: 2em;
  animation: fall linear infinite;
  top: -2em; /* เลื่อน emojis ขึ้นมาจากขอบบนสุดเพื่อให้เห็นการตกลงมาชัดเจน */
}
